.page {
    margin: 0px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: Arial, sans-serif;
    background-color: #fcf7f7;
    position: relative;
    top: -30px;

}
.firstdiv1{
    display: flex;
    justify-content: space-between;
    background-color: red;
}
.firstdivp{
    margin-right: 150px 
}

.firstdivp2{
    margin-right: 30px  
}

.gallery{
    padding: 20px;
    text-align: center;
    background-color: #db8585;
    margin-bottom: 0px;
}
.photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    justify-items: center; 
    padding: 40px;
}
.photos img {
    width: 250px;
    height: 250px;
}
.photos figcaption {
    margin-top: 8px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.firstdiv2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.p{
    gap: 10px;
    margin: 10px;
}
.ttt{
    background-color: #efdada;
    height: 90px;
    position: relative;
    z-index: -1;
}